 <!-- ################################ -->
 <!-- ########### EDUCATION ########## -->
 <!-- ################################ -->

 <section class="o-section  t-section  ">

   <div class="o-section__header-bg  t-section__header"></div>
   <div class="o-section__content-bg  t-section__content"></div>

   <div class="o-container">
     <div class="o-section__container">

       <header class="o-section__header  t-section__header">
         <div class="o-content">
           <h2 class="o-section__heading">
             Education
           </h2>
           <div class="o-content__body  o-section__description">
             Lazy isn&#39;t in my vocabulary.
           </div>
         </div>
       </header><!-- /o-section__header -->

       <div class="o-section__content  t-section__content  u-pt-0">

         <div class="o-content">
           <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
             <div class="c-timeline__end  t-border-color"></div>

             <div class="c-timeline__item">
               <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
               <div class="o-content">
                 <div class="o-grid">
                   <div class="o-grid__col-md-5">
                     <div class="c-work__timeframe">
                       2010 &ndash; 2015
                     </div>
                     <h3 class="c-work__heading">
                       PhD in Robotics & Control (Dr.Ing.)
                     </h3>
                     <h4 class="c-work__title">
                       <a href="https://www.uni-bremen.de" target="_blank">Universität
                         Bremen</a>
                     </h4>
                     <div class="c-work__location">
                       Bremen, Germany
                     </div>
                   </div>
                   <div class="o-grid__col-md-7">
                     <p>
                       Titled: “<a
                         href="https://suche.suub.uni-bremen.de/peid=B83335474&LAN=DE&CID=&index=L&Hitnr=1&dtyp=h&rtyp=a&Exemplar=1%0A%09%09%09%09%09%09%09"
                         target="_blank">
                         An Intelligent Architecture for Legged Robot Terrain
                         Classification Using Proprioceptive and Exteroceptive Data</a>”
                     </p>
                   </div>
                 </div><!-- /o-grid -->
               </div><!-- /o-content -->
             </div><!-- /c-timeline__item -->



             <div class="c-timeline__item">
               <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
               <div class="o-content">
                 <div class="o-grid">
                   <div class="o-grid__col-md-5">
                     <div class="c-work__timeframe">
                       2008 &ndash; 2010
                     </div>
                     <h3 class="c-work__heading">
                       M.Sc. in Computer & Control Engineering
                     </h3>
                     <h4 class="c-work__title">
                       <a href="http://www.zu.edu.eg" target="_blank">Zagazig
                         University</a>
                     </h4>
                     <div class="c-work__location">
                       Zagazig, Egypt
                     </div>
                   </div>
                   <div class="o-grid__col-md-7">
                     <p>
                       Titled: “Design of a Computer Algorithm for Fine–Tuning of Adaptive
                       Controllers”
                     </p>
                   </div>
                 </div><!-- /o-grid -->
               </div><!-- /o-content -->
             </div><!-- /c-timeline__item -->



             Qualifying Examination of Master of Science
             <div class="c-timeline__item">
               <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
               <div class="o-content">
                 <div class="o-grid">
                   <div class="o-grid__col-md-5">
                     <div class="c-work__timeframe">
                       1999 &ndash; 2000
                     </div>
                     <h3 class="c-work__heading">
                       Qualifying Examination for Master of Science
                     </h3>
                     <h4 class="c-work__title">
                       <a href="http://www.zu.edu.eg" target="_blank">Zagazig
                         University</a>
                     </h4>
                     <div class="c-work__location">
                       Zagazig, Egypt
                     </div>
                   </div>
                   <div class="o-grid__col-md-7">
                     <p>
                       in Computer & Control Engineering with advanced courses on:<br>
                       Pattern Recognition,
                       Advanced Engineering Mathematics,
                       Technical English Language,
                       Computer Programming,
                       Advanced Operating Systems,
                       Artificial Intelligence,
                       Artificial Neural Networks,
                       Digital Signal Processing.
                     </p>
                   </div>
                 </div><!-- /o-grid -->
               </div><!-- /o-content -->
             </div><!-- /c-timeline__item -->

             <div class="c-timeline__item">
               <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
               <div class="o-content">
                 <div class="o-grid">
                   <div class="o-grid__col-md-5">
                     <div class="c-work__timeframe">
                       1993 &ndash; 1998
                     </div>
                     <h3 class="c-work__heading">
                       Bachelor of Science
                     </h3>
                     <h4 class="c-work__title">
                       <a href="http://www.zu.edu.eg" target="_blank">Zagazig
                         University</a>
                     </h4>
                     <div class="c-work__location">
                       Zagazig, Egypt
                     </div>
                   </div>
                   <div class="o-grid__col-md-7">
                     <p>
                       • Major: Electronics and Communications Engineering. <br>
                       • Rank: First on graduation class (1st of 64).<br>
                       • Grade: Very Good with Honor.
                     </p>
                   </div>
                 </div><!-- /o-grid -->
               </div><!-- /o-content -->
             </div><!-- /c-timeline__item -->

           </div><!-- /c-timeline -->
         </div><!-- /o-content -->

       </div><!-- /o-section__content -->

     </div><!-- /o-section__container -->
   </div><!-- /o-container -->

 </section><!-- /o-section -->
