<!-- ################################ -->
<!-- ########## EXPERTISE ########### -->
<!-- ################################ -->

<section class="o-section  t-section  ">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Expertise
          </h2>
          <div class="o-content__body  o-section__description">
            Batman would be jealous.
          </div>
        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  ">

        <div class="o-grid">

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  01
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>Programming in C, C++, Assembly</h3>
                <p>
                  • Strong proficiency in C/C++, with fair knowledge of the language
                  specification
                  • Thorough knowledge of the standard library, STL containers, and algorithms
                  • Good understanding of memory management in non-garbage collected
                  environments
                  • Understanding of dynamic polymorphism and C++ specific notions, such as
                  friend classes
                  • Familiarity with embedded systems design, low-level hardware interactions
                  • Knowledge of low-level threading primitives and real-time environments
                  • Familiarity with system call wrapper library functions
                  • Proficient understanding of code versioning tools (Git, SVN, …)
                  • Familiarity with continuous integration
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  02
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>Front-end Design</h3>
                <p>
                  Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel,
                  euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo
                  ullamcorper magna. Ut aliquam sollicitudin leo.
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  03
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>Ruby on Rails</h3>
                <p>
                  Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit
                  amet orci. Aenean dignissim pellentesque felis. Vivamus vestibulum nulla
                  cras ornare tristique elit nec ante.
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  04
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>Object-oriented PHP</h3>
                <p>
                  Morbi in sem quis dui placerat ornare. Ut aliquam sollicitudin leo.
                  Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed
                  arcu. Cras ante. Vivamus vestibulum nulla nec ante.
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  05
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>WordPress</h3>
                <p>
                  Phasellus ultrices nulla quis nibh. Fusce lobortis lorem. Quisque a lectus.
                  Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam,
                  gravida non, sodales sit amet, nisi.
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

          <div class="o-grid__col-sm-6">
            <div class="o-media  o-media--block  o-content">
              <div class="o-media__figure">
                <div class="c-number  t-primary-color">
                  06
                </div>
              </div>
              <div class="o-media__body  o-content__body">
                <h3>JavaScript / jQuery</h3>
                <p>
                  Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer
                  adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
                  nisi neque, aliquet vel, dapibus id.
                </p>
              </div>
            </div><!-- /o-media o-content -->
          </div><!-- /o-grid__col -->

        </div><!-- /o-grid -->

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->
