<!-- ################################ -->
<!-- ############ INTRO ############# -->
<!-- ################################ -->

<section class="o-section  t-section  ">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Profile
          </h2>
          <div class="o-content__body  o-section__description">
            What I am all about.
          </div>
        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  ">

        <div class="o-content">
          <div class="c-intro">
            <div class="o-content__body">
              <p>
                Experienced engineer with a demonstrated history of working in industry and
                research. Skilled in Robotics, C/C++, MATLAB/Simulink, LaTeX, Database and
                Web programming. Strong research professional with Dr.Ing. degree focused in
                Mechatronics, Robotics, and Automation Engineering from Universität Bremen,
                Germany.
              </p>

            </div>
          </div>
        </div>

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->
