
/************************************************
 from:
 https://codepen.io/taniarascia/pen/BpwOKZ/ 
************************************************/

.accordion {
	background: linear-gradient(to bottom right, white, #F8F8F8);
	/* max-width: 90%; */
	background: white;
	margin: 0 auto;
  box-shadow: 
  0 15px 10px -15px rgba(0, 0, 0, 0.3)
  /* , 
  0 35px 40px -25px rgba(0, 0, 0, 0.3), 
  0 85px 50px -25px rgba(0, 0, 0, 0.1) */
  ;
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
    /* color: #2a313a; */
    color: #F8BB10;
	cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0.2rem;
}

.accordion-header:hover {
	background: #F6F7F9;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.accordion-header::before {
    /* background-color: #FC6468; */
    background-color: #F8BB10;

}


.accordion-header:after {
    content: '\2228'; /* Unicode character for DOWN ARROWHEAD */
    font-weight: 500;
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2227";
  }