 <!-- ################################ -->
        <!-- ############ SKILLS ############ -->
        <!-- ################################ -->

        <section class="o-section  t-section  ">

            <div class="o-section__header-bg  t-section__header"></div>
            <div class="o-section__content-bg  t-section__content"></div>

            <div class="o-container">
                <div class="o-section__container">

                    <header class="o-section__header  t-section__header">
                        <div class="o-content">
                            <h2 class="o-section__heading">
                                Skills
                            </h2>
                            <div class="o-content__body  o-section__description">
                                Progress bars, anyone?
                            </div>
                        </div>
                    </header><!-- /o-section__header -->

                    <div class="o-section__content  t-section__content  ">

                        <div class="o-grid">

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                <div class="c-number  t-primary-color">
                                                    95<small>%</small> 
                                                </div>
                                            </div>-->
                                        <div class="o-media__body">
                                            <h4>Programming in C, C++, Assembly</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>MATLAB/Simulink Programming</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Intel® 80x86 assembly Programming</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Programming in C#, Java, Python</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="70"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Programming in Visual C++</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="90"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>VBA/API programming</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="80"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Programming in Visual Basic</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>MATLAB/Simulink</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Qt and MATLAB GUI Design</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="95"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Programming & development in ROS & Robotics Toolbox</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="70"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Working with measurement technologies (dSpace, ...)</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="70"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Database design (mySQL, SQLite, Access, ....)</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="90"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!-- <div class="o-media__figure">
                                                     <div class="c-number  t-primary-color">
                                                        70<small>%</small>
                                                    </div> 
                                                </div>-->
                                        <div class="o-media__body">
                                            <h4>Git & SVN</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="80"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->


                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Computer Networking</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="65"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Writing in LaTeX</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Windows & MS-Office Suit (Word, Excel, PowerPoint, …)</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>macOS, Linux (Ubuntu, Suse)</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="60"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Communication skills</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Reading and Research</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-media  o-media--block">
                                        <!--  <div class="o-media__figure">
                                                        <div class="c-number  t-primary-color">
                                                            95<small>%</small> 
                                                        </div>
                                                    </div>-->
                                        <div class="o-media__body">
                                            <h4>Team work</h4>
                                        </div>
                                    </div>
                                    <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                        <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg"
                                            data-percent="100"></div>
                                    </div>
                                </div>
                            </div><!-- /o-grid__col -->


                        </div><!-- /o-grid -->

                    </div><!-- /o-section__content -->

                </div><!-- /o-section__container -->
            </div><!-- /o-container -->

        </section><!-- /o-section -->