<button type="button" onclick="switch_style('light');return false;" name="theme" value="light Theme" id="blue">Light
  Theme</button>
<button type="button" onclick="switch_style('dark');return false;" name="theme" value="dark Theme" id="pink">Dark
  Theme</button>


<div class="c-preloader  js-preloader">
  <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">
  <app-header></app-header>
  <app-intro></app-intro>
  <app-expertise></app-expertise>
  <app-education></app-education>
  <app-skills></app-skills>

  
</div><!-- /c-main-container -->
